/* <!-- # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography

### Body Copy

- Font size: 15px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 --> */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header1{

  text-align: center;
  font-size: 36px;
  color: hsl(229, 12%, 66%);
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 0px;
  margin-top: 50px;
}
h2{
    text-align: center;
    margin-top: 0px;
    text-align: center;
}
h4{
    padding:0px;
    margin:10px 0px;
}
.heading{
    text-align: center;
    font-size: 16px;
    color: hsl(229, 12%, 66%);

}
section{
 
 padding: 5px;
 background-color:hsl(0, 0%, 98%) ;
    
}
.row{
    
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
    padding:0px;
}
.col-1, .col-2, .col-3{
    
    margin: auto 20px;
    display: flex;
    flex-basis: 30%;
    align-items: center;
   
}
.col-1 div{
    /* border: 1px solid rgb(4, 0, 255); */
    box-shadow: 0 0 5px;
    width:100%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.col-2{
    

    flex-direction: column;
}
.col-3 div{
    /* border: 1px solid rgb(4, 0, 255); */
    
    box-shadow: 0 0 5px;
    width:100%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.col-2 div{
    box-shadow: 0 0 5px;
    margin:10px;
    width:100%;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.svg1{
    text-align: right;
    max-width: 100%;
    box-shadow: none;
    
    
}
.row p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}
.col-1 div::before{
    content:".";
    position: absolute;
    top:-0px;
    left:0;
    height:0px;
    width: 98%;
    border-radius: 50px 50px 0px 0px;
    border:2px solid hsl(180, 62%, 55%);

}
.col-2 .div1::before{
    content:"";
    position: absolute;
    top:-0px;
    left:0;
    height:0px;
    width: 98%;
    border-radius: 50px 50px 0px 0px;
    border:2px solid hsl(0, 78%, 62%);
}
.col-2 .div2::before{
    content:"";
    position: absolute;
    top:-0px;
    left:0;
    height:0px;
    width: 98%;
    border-radius: 50px 50px 0px 0px;
    border:2px solid hsl(34, 97%, 64%);
}

.col-3 div::before{
    content:"";
    position: absolute;
    top:-0px;
    left:0;
    height:0px;
    width: 98%;
    border-radius: 50px 50px 0px 0px;
    border:2px solid hsl(228,45%,44%);

}
@media screen and (max-width: 600px) {
    .row{
        flex-direction: column;
    }  
    .col-1, .col-2, .col-3{
        
        margin:10px;
        padding:10px;
        display: flex;
        align-items: center;
        flex-basis: 100%;
       
    }
    .header1{

        text-align: center;
        font-size: 30px;
        color: hsl(229, 12%, 66%);
        font-weight: 400;
        margin-bottom: 5px;
        padding-bottom: 2px;
        margin-top: 50px;
      }
      h2{
        text-align: center;
        font-size: 30px;
        margin: 10px;
        text-align: center;
    }
    .heading{
        text-align: center;
        font-size: 12px;
        color: hsl(229, 12%, 66%);
    
}